<html>
    <head>
        <style>
            body{
                background-image: url(forms.avif);
                background-repeat: no-repeat;
                background-size: cover;
                font-family: 'Big Shoulders Text',cursive;
                font-size:20px;
                position: absolute;
                color:antiquewhite;
                top:100px;
                left:200px;
                right:200px;
                text-align: justify;
            }

        </style>
    </head>
    <body>
        <h1>Serving Since 2017</h1>
    <h2>Our story</h2>
    <p>We started our journey in 2017 like all other business's even knk had its ups and downs but we never gave up! With our hard-work and your support knk from a not so famous cafe became the top most rated cafe in Thane! From serving 10 dishes to now serving 85+ dishes we have came a long way. Knk is not about serving food but to comfort your food cravings. Knk's first priority is to serve food that makes you say WOW. We are sure that we'll see you frequently with your gang Because you can't eat here just one!!
    </p>


    </body>
</html>